.GeneralPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    background: #2c4147;
  }
  
  .GeneralPage .Banner {
    align-items: center;
    justify-content: center;
    background: rgb(25, 108, 108);
    height: 120px;
    width: 100%;
    display: flex;
  }
  
  .GeneralPage .Banner h1 {
    font-size: 42px;
    color: white;
  }
  
  .GeneralPage .content {
    margin: 50px auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .GeneralPage .GeneralPageOverview {
    display: flex;
    flex-direction: column;
  }
  
  .GeneralPage .GeneralPageOverview .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .GeneralPageOverview .header h3 {
    font-size: 42px;
    font-weight: 700;
    color: white;
  }
  
  .Button.outline.aqua {
    background: transparent;
    color: aqua;
    border: 1px solid aqua;
  }
  
  .Button.small {
    padding: 10px 20px;
    max-height: 40px;
  }
  
  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    transition: all 0.2s ease;
    white-space: nowrap;
  }
  
  .GeneralPage .feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 10px;
    gap: 10px;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  
  .feed .empty {
    margin: 0 auto;
  }
  
  .empty h2 {
    font-size: 32px;
    color: aquamarine;
    padding: 10px 20px;
    border: 1px solid aqua;
    border-radius: 4px;
  }
  